$primary-color-1: hsl(233, 47%, 7%);
$primary-color-2: hsl(244, 38%, 16%);
$primary-color-3: hsl(277, 64%, 30%);
$primary-color-4: hsl(277, 64%, 61%);
$primary-color-5: hsl(0, 0%, 100%);
$primary-color-6: hsla(0, 0%, 100%, 0.75);
$primary-color-7: hsla(0, 0%, 100%, 0.6);

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 13% 13%;
  background-color: $primary-color-1;
  height: 100vh;
  font-style: "Inter";
}
.row {
  background-color: $primary-color-2;
  border-radius: 10px;
}
.content-container {
  padding: 4% 7% 4%;
}
.purple-text {
  color: $primary-color-4;
}
.main-heading {
  color: $primary-color-5;
  font-weight: 700;
  padding-bottom: 10px;
}
.container-body {
  color: $primary-color-6;
  padding-bottom: 30px;
}
.stats-container {
  width: 100%;
  font-family: "Lexend Deca";
}
.stats {
  color: $primary-color-5;
  font-weight: bold;
}
.stats-heading {
  color: $primary-color-7;
  font-size: 12px;
}
.img-container {
  margin: 0;
  padding: 0;
}
.content-img {
  width: 100%;
  border-radius: 10px;
}
.img-overlay {
  background: $primary-color-3;
  border-radius: 10px;
  opacity: 0.7;
  position: relative;
  bottom: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
